<div class="row">
  <% badges.each do |badge| %>
  <div class="col col-md-3">
    <div class="card text-center">
      <%= image_tag "#{badge.image_name}",   height: '150', class: 'mx-auto d-block' %>
      <div class="card-body">
        <h5 class="card-title"><%= badge.name %> </h5>
        <p class="card-text">
<!--          <%#= t('badges.index.condition')%>: <%#= badge.rule_params %>-->

        </p>
      </div>
    </div>
    <br>
  </div>
  <% end %>
</div>
<hr>
