<footer class="footer bg-light text-black">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        Copyright
        <%= current_year %>
        <%= create_github_link('sasha370', 'sasha370-TestGuru') %>
      </div>
      <div class="col-md-4">
        <div class="fa fa-envelope"></div>
        <%= mail_to "budka52@bk.com" %>
      </div>
      <div class="col-md-4">
        <%= link_to t('.link_to_partner', partner: "Thinknetica"), 'https://thinknetica.com/' %>
      </div>
    </div>
  </div>
</footer>
