<footer class="footer bg-light text-black">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        Copyright
        <%= Time.now.year %>
        <%= link_to 'TestGuru GitHub', 'https://github.com/sasha370/sasha370-TestGuru' %> , Karyakin Alex
      </div>
      <div class="col-md-4">
        <div class="fa fa-envelope"></div>
        <%= mail_to "budka52@bk.com" %>
      </div>
      <div class="col-md-4">
        <%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'https://thinknetica.com/' %>
      </div>
    </div>
  </div>
</footer>
