<div class="card">
  <div class="card-header">
    <%= answer_header(@answer) %>
  </div>
  <div class="card-body">
    <%= render 'form', answer: @answer %>
  </div>
  <div class="card-footer">
    <%= link_to 'Назад к вопросу', question_path(@question) %>
  </div>
</div>
