<tr>
  <td> <%= answer_correct_label(answer.correct) %> <%= answer.body %>  </td>
  <td><%= link_to t('helpers.links.edit'), edit_admin_answer_path(answer) %></td>
  <td><%= link_to t('helpers.links.destroy'), admin_answer_path(answer), method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>

