<div class="card">
  <div class="card-header">
    <%= question_header(@question) %>
  </div>
  <div class="card-body">
    <%= render 'form' %>
  </div>
  <div class="card-footer">
    <%= link_to 'Назад к вопросам', admin_test_path(@test), class: 'btn btn-sm btn-secondary' %>
  </div>
</div>
