<div class="card">
  <div class="card-header">
    Новый Тест
  </div>
  <div class="card-body">
    <%= render 'form' %>
  </div>
  <div class="card-footer">
    <%= link_to 'Назад к тестам', admin_tests_path %>
  </div>
</div>
