<h1 class="text-center"> <%= t('tests.index.header') %> </h1>

<table class="table">
  <thead class="bg-primary text-light">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Название</th>
    <th scope="col">Уровень</th>
    <th scope="col">Категория</th>
    <th scope="col">Вопросы</th>
    <th scope="col">Начать тест</th>
  </tr>
  </thead>
  <tbody>
  <%= render @tests %>
  </tbody>
</table>
